In [10]:
import pandas as pd
file_path='C:/Users/oye01/OneDrive/바탕 화면/MC pm/1111팀플/traffic.xlsx'

dftraffic=pd.read_excel(file_path)
display(dftraffic)
#print(dftraffic.Sum_LENGTH.describe())

,Unnamed: 0,동,경사도,자전거도로길이,총거치대수,총대여수,비율,인구,면적,인구밀도,지하철역개수,버스정거장개수,접근성,교통편,자전거이용비율
0,0,가락1동,-15.5247,7150,115.0,74652.0,64914.78,27716,1.34,20684,1,13,12.686567,17,2.693462
1,1,가락2동,-39.3115,4704,45.0,33583.0,74628.89,33920,0.96,35333,0,23,23.958333,23,0.990065
2,2,가락본동,-30.7845,6932,55.0,25487.0,46340.00,27876,1.13,24669,2,25,29.203540,33,0.914299
3,3,가리봉동,-21.8088,0,10.0,5621.0,56210.00,15250,0.40,38125,0,9,22.500000,9,0.368590
4,4,가산동,-12.9490,2108,258.0,160033.0,62028.29,24455,2.52,9704,2,111,47.222222,119,6.543979
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
419,419,효창동,-39.3094,0,35.0,18699.0,53425.71,10300,0.44,23409,1,14,40.909091,18,1.815437
420,420,후암동,-110.1838,0,10.0,72.0,720.00,18445,0.86,21448,0,16,18.604651,16,0.003903
421,421,휘경1동,-15.7920,1889,30.0,41753.0,139176.67,16508,0.63,26203,1,15,30.158730,19,2.529259
422,422,휘경2동,-18.4596,3782,51.0,15335.0,30068.63,25068,1.05,23874,0,18,17.142857,18,0.611736
423,423,흑석동,-32.6523,2129,145.0,50564.0,34871.72,35551,1.68,21161,1,51,32.738095,55,1.422295

In [18]:
ztraffic=dftraffic[['동','경사도', '자전거도로길이', '총거치대수', '총대여수', '인구', '면적', '접근성', '교통편','지하철역개수','버스정거장개수']]
display(ztraffic)

,동,경사도,자전거도로길이,총거치대수,총대여수,인구,면적,접근성,교통편,지하철역개수,버스정거장개수
0,가락1동,-15.5247,7150,115.0,74652.0,27716,1.34,12.686567,17,1,13
1,가락2동,-39.3115,4704,45.0,33583.0,33920,0.96,23.958333,23,0,23
2,가락본동,-30.7845,6932,55.0,25487.0,27876,1.13,29.203540,33,2,25
3,가리봉동,-21.8088,0,10.0,5621.0,15250,0.40,22.500000,9,0,9
4,가산동,-12.9490,2108,258.0,160033.0,24455,2.52,47.222222,119,2,111
...,...,...,...,...,...,...,...,...,...,...,...
419,효창동,-39.3094,0,35.0,18699.0,10300,0.44,40.909091,18,1,14
420,후암동,-110.1838,0,10.0,72.0,18445,0.86,18.604651,16,0,16
421,휘경1동,-15.7920,1889,30.0,41753.0,16508,0.63,30.158730,19,1,15
422,휘경2동,-18.4596,3782,51.0,15335.0,25068,1.05,17.142857,18,0,18
423,흑석동,-32.6523,2129,145.0,50564.0,35551,1.68,32.738095,55,1,51

In [19]:
#특정 열을 행 인덱스로 설정
ztraffic=ztraffic.set_index('동')
print(ztraffic)

           경사도  자전거도로길이  총거치대수      총대여수     인구    면적        접근성  교통편  지하철역개수  \
동
가락1동  -15.5247     7150  115.0   74652.0  27716  1.34  12.686567   17       1
가락2동  -39.3115     4704   45.0   33583.0  33920  0.96  23.958333   23       0
가락본동  -30.7845     6932   55.0   25487.0  27876  1.13  29.203540   33       2
가리봉동  -21.8088        0   10.0    5621.0  15250  0.40  22.500000    9       0
가산동   -12.9490     2108  258.0  160033.0  24455  2.52  47.222222  119       2
...        ...      ...    ...       ...    ...   ...        ...  ...     ...
효창동   -39.3094        0   35.0   18699.0  10300  0.44  40.909091   18       1
후암동  -110.1838        0   10.0      72.0  18445  0.86  18.604651   16       0
휘경1동  -15.7920     1889   30.0   41753.0  16508  0.63  30.158730   19       1
휘경2동  -18.4596     3782   51.0   15335.0  25068  1.05  17.142857   18       0
흑석동   -32.6523     2129  145.0   50564.0  35551  1.68  32.738095   55       1

      버스정거장개수
동
가락1동       13
가락2동       23
가락본동       25
가리봉동        9
가산동       111
...       ...
효창동        14
후암동        16
휘경1동       15
휘경2동       18
흑석동        51

[424 rows x 10 columns]

In [ ]:
# pandas as pd
# def minus(n):
#     return -n
# dfDEM['Ave_GRID_C']=dfDEM['Ave_GRID_C'].apply(minus)
# print(dfDEM)
# print(dfDEM.Ave_GRID_C.describe())

In [20]:
def z_score(x):
    return (x-x.mean())/x.std()
# 표준화 시행
ztraffic=ztraffic.apply(z_score,axis=0)

print(ztraffic)

           경사도   자전거도로길이     총거치대수      총대여수        인구        면적       접근성  \
동
가락1동  0.673106  1.050335  0.646255  0.480471  0.439995 -0.055353 -1.034388
가락2동  0.069869  0.435476 -0.298236 -0.261170  1.104941 -0.295356 -0.230132
가락본동  0.286115  0.995536 -0.163308 -0.407371  0.457144 -0.187987  0.144120
가리봉동  0.513740 -0.746984 -0.770481 -0.766120 -0.896113 -0.649045 -0.334186
가산동   0.738426 -0.217089  2.575714  2.022317  0.090481  0.689919  1.429777
...        ...       ...       ...       ...       ...       ...       ...
효창동   0.069922 -0.746984 -0.433163 -0.529952 -1.426655 -0.623782  0.979327
후암동  -1.727465 -0.746984 -0.770481 -0.866326 -0.553672 -0.358515 -0.612125
휘경1동  0.666328 -0.272140 -0.500627 -0.113633 -0.761281 -0.503780  0.212274
휘경2동  0.598677  0.203710 -0.217279 -0.590700  0.156182 -0.238513 -0.716426
흑석동   0.238747 -0.211810  1.051037  0.045480  1.279752  0.159386  0.396316

           교통편    지하철역개수   버스정거장개수
동
가락1동 -0.755090  0.368904 -0.883370
가락2동 -0.384465 -0.882418 -0.224301
가락본동  0.233243  1.620225 -0.092487
가리봉동 -1.249256 -0.882418 -1.146997
가산동   5.545533  1.620225  5.575505
...        ...       ...       ...
효창동  -0.693319  0.368904 -0.817463
후암동  -0.816861 -0.882418 -0.685649
휘경1동 -0.631548  0.368904 -0.751556
휘경2동 -0.693319 -0.882418 -0.553835
흑석동   1.592201  0.368904  1.621092

[424 rows x 10 columns]

In [26]:
zmytraffic=ztraffic[['지하철역개수','버스정거장개수','접근성','교통편','총거치대수']]
display(zmytraffic)

        지하철역개수   버스정거장개수       접근성       교통편     총거치대수
동
가락1동  0.368904 -0.883370 -1.034388 -0.755090  0.646255
가락2동 -0.882418 -0.224301 -0.230132 -0.384465 -0.298236
가락본동  1.620225 -0.092487  0.144120  0.233243 -0.163308
가리봉동 -0.882418 -1.146997 -0.334186 -1.249256 -0.770481
가산동   1.620225  5.575505  1.429777  5.545533  2.575714
...        ...       ...       ...       ...       ...
효창동   0.368904 -0.817463  0.979327 -0.693319 -0.433163
후암동  -0.882418 -0.685649 -0.612125 -0.816861 -0.770481
휘경1동  0.368904 -0.751556  0.212274 -0.631548 -0.500627
휘경2동 -0.882418 -0.553835 -0.716426 -0.693319 -0.217279
흑석동   0.368904  1.621092  0.396316  1.592201  1.051037

[424 rows x 5 columns]

In [27]:
zmytraffic.describe()

             지하철역개수       버스정거장개수           접근성           교통편         총거치대수
count  4.240000e+02  4.240000e+02  4.240000e+02  4.240000e+02  4.060000e+02
mean  -5.446377e-17  8.379042e-17 -8.797994e-17  1.173066e-16  7.000421e-17
std    1.000000e+00  1.000000e+00  1.000000e+00  1.000000e+00  1.000000e+00
min   -8.824176e-01 -1.674252e+00 -1.786851e+00 -1.743423e+00 -8.109592e-01
25%   -8.824176e-01 -7.515561e-01 -6.764655e-01 -6.933191e-01 -5.006266e-01
50%    3.689037e-01 -2.243010e-01 -1.217147e-01 -2.609234e-01 -2.307721e-01
75%    3.689037e-01  4.347678e-01  5.258242e-01  4.185555e-01  2.212341e-01
max    4.122868e+00  5.575505e+00  5.040431e+00  5.545533e+00  1.188569e+01

In [33]:
# import pandas as pd
# trafficindex=zmytraffic['교통편']+zmytraffic['총거치대수']

In [43]:
# #시리즈 데이터 프레임으로 만들기 실패
# pandas.Dataframe(trafficindex)

NameError: name 'pandas' is not defined

In [38]:
# #합한 열 생성 실패 
# zmytraffic['tr_index']=zmytraffic['교통편']+zmytraffic['총거치대수']

C:\Users\oye01\anaconda3\envs\pydatavenv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [55]:
# 행끼리 sum 하기 
zmytraffic['교통지수']=zmytraffic['교통편']+zmytraffic['총거치대수']
display(zmytraffic)
zmytraffic.describe()

C:\Users\oye01\anaconda3\envs\pydatavenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

        지하철역개수   버스정거장개수       접근성       교통편     총거치대수      교통지수 tr_index
동
가락1동  0.368904 -0.883370 -1.034388 -0.755090  0.646255 -0.108835      NaN
가락2동 -0.882418 -0.224301 -0.230132 -0.384465 -0.298236 -0.682701      NaN
가락본동  1.620225 -0.092487  0.144120  0.233243 -0.163308  0.069935      NaN
가리봉동 -0.882418 -1.146997 -0.334186 -1.249256 -0.770481 -2.019737      NaN
가산동   1.620225  5.575505  1.429777  5.545533  2.575714  8.121247      NaN
...        ...       ...       ...       ...       ...       ...      ...
효창동   0.368904 -0.817463  0.979327 -0.693319 -0.433163 -1.126482      NaN
후암동  -0.882418 -0.685649 -0.612125 -0.816861 -0.770481 -1.587342      NaN
휘경1동  0.368904 -0.751556  0.212274 -0.631548 -0.500627 -1.132175      NaN
휘경2동 -0.882418 -0.553835 -0.716426 -0.693319 -0.217279 -0.910598      NaN
흑석동   0.368904  1.621092  0.396316  1.592201  1.051037  2.643238      NaN

[424 rows x 7 columns]

,지하철역개수,버스정거장개수,접근성,교통편,총거치대수,교통지수
count,4.240000e+02,4.240000e+02,4.240000e+02,4.240000e+02,4.060000e+02,406.000000
mean,-5.446377e-17,8.379042e-17,-8.797994e-17,1.173066e-16,7.000421e-17,0.031499
std,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.754291
min,-8.824176e-01,-1.674252e+00,-1.786851e+00,-1.743423e+00,-8.109592e-01,-2.232035
25%,-8.824176e-01,-7.515561e-01,-6.764655e-01,-6.933191e-01,-5.006266e-01,-1.031404
50%,3.689037e-01,-2.243010e-01,-1.217147e-01,-2.609234e-01,-2.307721e-01,-0.392293
75%,3.689037e-01,4.347678e-01,5.258242e-01,4.185555e-01,2.212341e-01,0.667773
max,4.122868e+00,5.575505e+00,5.040431e+00,5.545533e+00,1.188569e+01,14.527998

In [51]:
zmytraffic['tr_index']='NaN'

C:\Users\oye01\anaconda3\envs\pydatavenv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [58]:
display(zmytraffic)
zmytraffic.info()

        지하철역개수   버스정거장개수       접근성       교통편     총거치대수      교통지수 tr_index
동
가락1동  0.368904 -0.883370 -1.034388 -0.755090  0.646255 -0.108835      NaN
가락2동 -0.882418 -0.224301 -0.230132 -0.384465 -0.298236 -0.682701      NaN
가락본동  1.620225 -0.092487  0.144120  0.233243 -0.163308  0.069935      NaN
가리봉동 -0.882418 -1.146997 -0.334186 -1.249256 -0.770481 -2.019737      NaN
가산동   1.620225  5.575505  1.429777  5.545533  2.575714  8.121247      NaN
...        ...       ...       ...       ...       ...       ...      ...
효창동   0.368904 -0.817463  0.979327 -0.693319 -0.433163 -1.126482      NaN
후암동  -0.882418 -0.685649 -0.612125 -0.816861 -0.770481 -1.587342      NaN
휘경1동  0.368904 -0.751556  0.212274 -0.631548 -0.500627 -1.132175      NaN
휘경2동 -0.882418 -0.553835 -0.716426 -0.693319 -0.217279 -0.910598      NaN
흑석동   0.368904  1.621092  0.396316  1.592201  1.051037  2.643238      NaN

[424 rows x 7 columns]

<class 'pandas.core.frame.DataFrame'>
Index: 424 entries, 가락1동 to 흑석동
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   지하철역개수    424 non-null    float64
 1   버스정거장개수   424 non-null    float64
 2   접근성       424 non-null    float64
 3   교통편       424 non-null    float64
 4   총거치대수     406 non-null    float64
 5   교통지수      406 non-null    float64
 6   tr_index  424 non-null    object
dtypes: float64(6), object(1)
memory usage: 46.5+ KB

In [60]:
# for a in zmytraffic['교통지수']:
#     if a >= -0.392293 :
#         zmytraffic.iloc[a][5]=0

KeyError: -0.108834956167975

In [ ]:
def inter(a,b):
    if a >= -0.392293 and b >:
        return 0
    else :
        return 1

In [11]:
import pandas as pd
file_path='C:/Users/oye01/OneDrive/바탕 화면/MC pm/1111팀플/sum_zdong.csv'

dfsuit=pd.read_csv(file_path)
display(dfsuit)\
#print(dftraffic.Sum_LENGTH.describe())

,HDong_name,workppl,dem,bikelength,sum_road_dem,sum_ppl_dem,sum_ppl_road,sum_3
0,가락1동,0.805473,0.674284,1.051002,1.725286,1.479757,1.856475,2.530759
1,가락2동,0.286642,0.071430,0.436598,0.508028,0.358072,0.723240,0.794670
2,가락본동,1.247918,0.287539,0.996243,1.283782,1.535457,2.244162,2.531701
3,가리봉동,-1.274766,0.515020,-0.744987,-0.229967,-0.759746,-2.019753,-1.504733
4,가산동,1.303241,0.739563,-0.215484,0.524079,2.042805,1.087757,1.827320
...,...,...,...,...,...,...,...,...
418,효창동,-0.935525,0.071483,-0.744987,-0.673504,-0.864041,-1.680512,-1.609028
419,후암동,-0.834567,-1.724762,-0.744987,-2.469749,-2.559328,-1.579554,-3.304315
420,휘경1동,-0.644024,0.667510,-0.270494,0.397016,0.023485,-0.914519,-0.247009
421,휘경2동,0.126148,0.599902,0.205003,0.804905,0.726050,0.331151,0.931054
422,흑석동,0.358674,0.240201,-0.210209,0.029992,0.598876,0.148465,0.388666

In [67]:
zmytraffic=zmytraffic.reset_index()

,HDong_name,workppl,dem,bikelength,sum_road_dem,sum_ppl_dem,sum_ppl_road,sum_3
0,가락1동,0.805473,0.674284,1.051002,1.725286,1.479757,1.856475,2.530759
1,가락2동,0.286642,0.071430,0.436598,0.508028,0.358072,0.723240,0.794670
2,가락본동,1.247918,0.287539,0.996243,1.283782,1.535457,2.244162,2.531701
3,가리봉동,-1.274766,0.515020,-0.744987,-0.229967,-0.759746,-2.019753,-1.504733
4,가산동,1.303241,0.739563,-0.215484,0.524079,2.042805,1.087757,1.827320
...,...,...,...,...,...,...,...,...
418,효창동,-0.935525,0.071483,-0.744987,-0.673504,-0.864041,-1.680512,-1.609028
419,후암동,-0.834567,-1.724762,-0.744987,-2.469749,-2.559328,-1.579554,-3.304315
420,휘경1동,-0.644024,0.667510,-0.270494,0.397016,0.023485,-0.914519,-0.247009
421,휘경2동,0.126148,0.599902,0.205003,0.804905,0.726050,0.331151,0.931054
422,흑석동,0.358674,0.240201,-0.210209,0.029992,0.598876,0.148465,0.388666

In [90]:
dfsuit.rename(columns={'HDong_name':'동'},inplace=True)
display(dfsuit)

,동,workppl,dem,bikelength,sum_road_dem,sum_ppl_dem,sum_ppl_road,sum_3,index,지하철역개수,버스정거장개수,접근성,교통편,총거치대수,교통지수,tr_index
0,가락1동,0.805473,0.674284,1.051002,1.725286,1.479757,1.856475,2.530759,0,0.368904,-0.883370,-1.034388,-0.755090,0.646255,-0.108835,NaN
1,가락2동,0.286642,0.071430,0.436598,0.508028,0.358072,0.723240,0.794670,1,-0.882418,-0.224301,-0.230132,-0.384465,-0.298236,-0.682701,NaN
2,가락본동,1.247918,0.287539,0.996243,1.283782,1.535457,2.244162,2.531701,2,1.620225,-0.092487,0.144120,0.233243,-0.163308,0.069935,NaN
3,가리봉동,-1.274766,0.515020,-0.744987,-0.229967,-0.759746,-2.019753,-1.504733,3,-0.882418,-1.146997,-0.334186,-1.249256,-0.770481,-2.019737,NaN
4,가산동,1.303241,0.739563,-0.215484,0.524079,2.042805,1.087757,1.827320,4,1.620225,5.575505,1.429777,5.545533,2.575714,8.121247,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
419,효창동,-0.935525,0.071483,-0.744987,-0.673504,-0.864041,-1.680512,-1.609028,419,0.368904,-0.817463,0.979327,-0.693319,-0.433163,-1.126482,NaN
420,후암동,-0.834567,-1.724762,-0.744987,-2.469749,-2.559328,-1.579554,-3.304315,420,-0.882418,-0.685649,-0.612125,-0.816861,-0.770481,-1.587342,NaN
421,휘경1동,-0.644024,0.667510,-0.270494,0.397016,0.023485,-0.914519,-0.247009,421,0.368904,-0.751556,0.212274,-0.631548,-0.500627,-1.132175,NaN
422,휘경2동,0.126148,0.599902,0.205003,0.804905,0.726050,0.331151,0.931054,422,-0.882418,-0.553835,-0.716426,-0.693319,-0.217279,-0.910598,NaN
423,흑석동,0.358674,0.240201,-0.210209,0.029992,0.598876,0.148465,0.388666,423,0.368904,1.621092,0.396316,1.592201,1.051037,2.643238,NaN

In [87]:
import pandas as pd
#dfsuit, zmytraffic 합치기
dfsuit=pd.merge(dfsuit,zmytraffic, how='inner',on='동')

In [88]:
# 열뽑아서 series 만들기
s_sum=dfsuit['sum_3']
print(s_sum)
s_tr=dfsuit['교통지수']
print(s_tr)

0      2.530759
1      0.794670
2      2.531701
3     -1.504733
4      1.827320
         ...
419   -1.609028
420   -3.304315
421   -0.247009
422    0.931054
423    0.388666
Name: sum_3, Length: 424, dtype: float64
0     -0.108835
1     -0.682701
2      0.069935
3     -2.019737
4      8.121247
         ...
419   -1.126482
420   -1.587342
421   -1.132175
422   -0.910598
423    2.643238
Name: 교통지수, Length: 424, dtype: float64

In [95]:
#교차분석 진행 하자.
#순위
# dfsuit.sort_values(by='sum_3',)
#x=sum_3 :-1.238667e-02  y='교통지수' :-0.392293


#apply 적용할 함수 정의 
def inter(x,y):
    if x>= -0.01238667 & y <= -0.392293 :
        return 4
    elif x< -0.01238667 & y <= -0.392293 :
        return 3
    elif x>= -0.01238667 & y > -0.392293 :
        return 1
    else :
        return 2

In [107]:
def med_sum(x):
    if x>= -1.238667e-02:
        return 1
    else:
        return 0
def med_trf(x):
    if x<=-0.392293 :
        return 1
    else:
        return 0

In [108]:
dfsuit['tr_index']=dfsuit['교통지수'].apply(med_trf)
dfsuit['sum_index']=dfsuit['sum_3'].apply(med_sum)

In [111]:
def inter_g(s,m):
    if s==1 & m==1:
        return 1

In [112]:
#교차분석 done : pandas , 두가지 열 apply
dfsuit['interg']=dfsuit.apply(lambda x:inter_g(x.tr_index,x.sum_index),axis=1)

In [ ]:
display(dfsuit)

In [123]:
#그룹연산
grouped=dfsuit.groupby(['interg'])
print(grouped)
#그룹 분할
for key,group in grouped:
    print('1 dong',key)
    print('1 filter', group)

print('\n'*4)
#특정 그룹 골라서 추출
group1=grouped.get_group(1)
print(group1.tail())

display(group1)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x00000215C5D98248>
1 dong 1.0
1 filter         동   workppl       dem  bikelength  sum_road_dem  sum_ppl_dem  \
1    가락2동  0.286642  0.071430    0.436598      0.508028     0.358072
6    가양2동 -1.380638  0.905724    0.596102      1.501826    -0.474914
10   갈현2동  1.702580  0.035186   -0.320983     -0.285797     1.737766
13   개봉2동  0.810387  0.778322   -0.052966      0.725356     1.588709
14   개봉3동 -0.447164  0.590902   -0.113753      0.477149     0.143739
..    ...       ...       ...         ...           ...          ...
398   합정동  0.112809  0.779156    1.388347      2.167502     0.891964
408  화곡1동  1.897335  0.483844   -0.696006     -0.212162     2.381179
410  화곡3동 -0.253251  0.512490   -0.067284      0.445207     0.259239
414  화곡본동  1.395494 -0.235752   -0.744987     -0.980740     1.159741
422  휘경2동  0.126148  0.599902    0.205003      0.804905     0.726050

     sum_ppl_road     sum_3  index    지하철역개수   버스정거장개수       접근성       교통편  \
1        0.723240  0.794670      1 -0.882418 -0.224301 -0.230132 -0.384465
6       -0.784536  0.121188      6  0.368904 -0.817463 -0.655267 -0.693319
10       1.381597  1.416783     10 -0.882418  0.368861  0.438787  0.171472
13       0.757421  1.535743     13 -0.882418 -0.092487  0.290138 -0.260923
14      -0.560917  0.029985     14 -0.882418 -0.356115 -0.089742 -0.508007
..            ...       ...    ...       ...       ...       ...       ...
398      1.501155  2.280311    398 -0.882418 -0.092487 -0.902508 -0.260923
408      1.201329  1.685173    408 -0.882418 -0.026580 -0.283221 -0.199153
410     -0.320535  0.191955    410 -0.882418 -1.146997 -0.680450 -1.249256
414      0.650507  0.414754    414 -0.882418 -0.092487 -0.332579 -0.260923
422      0.331151  0.931054    422 -0.882418 -0.553835 -0.716426 -0.693319

        총거치대수      교통지수  tr_index  sum_index  interg
1   -0.298236 -0.682701         1          1     1.0
6   -0.028381 -0.721700         1          1     1.0
10  -0.770481 -0.599009         1          1     1.0
13  -0.433163 -0.694086         1          1     1.0
14  -0.703017 -1.211024         1          1     1.0
..        ...       ...       ...        ...     ...
398 -0.365699 -0.626623         1          1     1.0
408 -0.379192 -0.578345         1          1     1.0
410 -0.325221 -1.574478         1          1     1.0
414 -0.568090 -0.829014         1          1     1.0
422 -0.217279 -0.910598         1          1     1.0

[95 rows x 18 columns]





        동   workppl       dem  bikelength  sum_road_dem  sum_ppl_dem  \
398   합정동  0.112809  0.779156    1.388347      2.167502     0.891964
408  화곡1동  1.897335  0.483844   -0.696006     -0.212162     2.381179
410  화곡3동 -0.253251  0.512490   -0.067284      0.445207     0.259239
414  화곡본동  1.395494 -0.235752   -0.744987     -0.980740     1.159741
422  휘경2동  0.126148  0.599902    0.205003      0.804905     0.726050

     sum_ppl_road     sum_3  index    지하철역개수   버스정거장개수       접근성       교통편  \
398      1.501155  2.280311    398 -0.882418 -0.092487 -0.902508 -0.260923
408      1.201329  1.685173    408 -0.882418 -0.026580 -0.283221 -0.199153
410     -0.320535  0.191955    410 -0.882418 -1.146997 -0.680450 -1.249256
414      0.650507  0.414754    414 -0.882418 -0.092487 -0.332579 -0.260923
422      0.331151  0.931054    422 -0.882418 -0.553835 -0.716426 -0.693319

        총거치대수      교통지수  tr_index  sum_index  interg
398 -0.365699 -0.626623         1          1     1.0
408 -0.379192 -0.578345         1          1     1.0
410 -0.325221 -1.574478         1          1     1.0
414 -0.568090 -0.829014         1          1     1.0
422 -0.217279 -0.910598         1          1     1.0

,동,workppl,dem,bikelength,sum_road_dem,sum_ppl_dem,sum_ppl_road,sum_3,index,지하철역개수,버스정거장개수,접근성,교통편,총거치대수,교통지수,tr_index,sum_index,interg
1,가락2동,0.286642,0.071430,0.436598,0.508028,0.358072,0.723240,0.794670,1,-0.882418,-0.224301,-0.230132,-0.384465,-0.298236,-0.682701,1,1,1.0
6,가양2동,-1.380638,0.905724,0.596102,1.501826,-0.474914,-0.784536,0.121188,6,0.368904,-0.817463,-0.655267,-0.693319,-0.028381,-0.721700,1,1,1.0
10,갈현2동,1.702580,0.035186,-0.320983,-0.285797,1.737766,1.381597,1.416783,10,-0.882418,0.368861,0.438787,0.171472,-0.770481,-0.599009,1,1,1.0
13,개봉2동,0.810387,0.778322,-0.052966,0.725356,1.588709,0.757421,1.535743,13,-0.882418,-0.092487,0.290138,-0.260923,-0.433163,-0.694086,1,1,1.0
14,개봉3동,-0.447164,0.590902,-0.113753,0.477149,0.143739,-0.560917,0.029985,14,-0.882418,-0.356115,-0.089742,-0.508007,-0.703017,-1.211024,1,1,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
398,합정동,0.112809,0.779156,1.388347,2.167502,0.891964,1.501155,2.280311,398,-0.882418,-0.092487,-0.902508,-0.260923,-0.365699,-0.626623,1,1,1.0
408,화곡1동,1.897335,0.483844,-0.696006,-0.212162,2.381179,1.201329,1.685173,408,-0.882418,-0.026580,-0.283221,-0.199153,-0.379192,-0.578345,1,1,1.0
410,화곡3동,-0.253251,0.512490,-0.067284,0.445207,0.259239,-0.320535,0.191955,410,-0.882418,-1.146997,-0.680450,-1.249256,-0.325221,-1.574478,1,1,1.0
414,화곡본동,1.395494,-0.235752,-0.744987,-0.980740,1.159741,0.650507,0.414754,414,-0.882418,-0.092487,-0.332579,-0.260923,-0.568090,-0.829014,1,1,1.0
422,휘경2동,0.126148,0.599902,0.205003,0.804905,0.726050,0.331151,0.931054,422,-0.882418,-0.553835,-0.716426,-0.693319,-0.217279,-0.910598,1,1,1.0

In [122]:
#파일 저장
group1.to_csv("C:/Users/oye01/OneDrive/바탕 화면/MC pm/1112팀플/group1.csv")

In [115]:

suit_filter=dfsuit.filter(lambda x: x.interg == 1 )
display(suit_filter)

TypeError: 'function' object is not iterable

In [ ]:
dfsuit['inter']=dfsuit['t'].apply(med_sum)

In [ ]:
#교차1
dfsuit['tr_index']=dfsuit[['sum_3','교통지수']].apply(inter)

In [ ]:
#교차2
dfsuit['tr_index']=dfsuit['sum_3'].apply(inter, y=dfsuit['교통지수'])
#df_inter = dfsuit.apply(lambda row:pd.Series([row['column_1'], row['column_2']], index=['column_1', 'column_2']),axis = 1)

#df_inter = dfsuit.apply(inter([s_sum],[s_tr]),axis=1)

In [ ]:
#교차 3
dfsuit['tr_index'] = list(map(inter,dfsuit['sum_3'],dfsuit['교통지수']))

In [ ]:
#교차 4
dfsuit.apply(inter, axis=1, x='', y='')

In [ ]:
#교차 4
def get_sublist(row, col1, col2):
    return mylist[row[col1]:row[col2]+1]
df.apply(get_sublist, axis=1, col1='col_1', col2='col_2')

In [ ]:
#jenks break